#include "HookUIResource.h"
#include <windows.h>
#include <afxres.h>

IDD_HOOKUI_PROC_DLG DIALOGEX 0,0,500,260
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Hook Process"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Modules:",   IDC_HOOKUI_STATIC_MODULE, 7, 7, 50, 8
    CONTROL         "", IDC_HOOKUI_LIST_MODULES, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 7, 18, 250, 150
    CONTROL         "", IDC_HOOKUI_LIST_HOOKS, "SysListView32", LVS_REPORT | WS_BORDER | WS_TABSTOP, 270, 140, 200, 80
    LTEXT           "Module Offset:", IDC_HOOKUI_STATIC_OFFSET, 270, 18, 70, 8
    EDITTEXT        IDC_HOOKUI_EDIT_OFFSET, 270, 30, 140, 14, ES_AUTOHSCROLL
    LTEXT           "Direct Address:", IDC_HOOKUI_STATIC_DIRECT, 270, 55, 75, 8
    EDITTEXT        IDC_HOOKUI_EDIT_DIRECT, 270, 67, 140, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Apply Hook", IDC_HOOKUI_BTN_APPLY, 270, 100, 65, 14
    PUSHBUTTON      "Close", IDCANCEL, 345, 100, 65, 14
    // preview hint removed to clean UI
END
